:root {
    --bgcolor: hwb(247 92% 5%);
}

* {
    box-sizing: border-box;
}

/* Responsive design for mobile screen */
@media screen and (max-width: 600px) {
    body {
        background-color: red;
    }
}

/* Responsive design for tablet screen */
@media (min-width: 768px) {
    body {
        background-color: green;
    }
}

/* Responsive design for laptop screen */
@media (min-width: 992px) {
    body {
        background-color: yellow;
    }
}

/* Responsive design for desktop screen */
@media (min-width: 1200px) {
    body {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .registration {
        position: relative;
        background-color: #260758;
        height: 900px;
        width: 600px;
        justify-content: center;
        border-radius: 24px;
    }

    .registration img {
        position: absolute;
        height: 70px;
        width: 70px;
        left: 250px;
        top: 50px;
        filter: drop-shadow(10px 3px 5px rgb(108, 8, 148));
        /* border: 5px solid white;
        border-radius: 50px; */
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .forn-field {
        background-color: white;
        position: relative;
        top: 150px;
        left: 25px;
        height: 700px;
        width: 550px;
        border-radius: 12px;
    }

    .forn-field h1 {
        justify-content: center;
        text-align: center;
    }

    .forn-field label {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 10px;
        font-weight: 500;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

    .forn-field input {
        height: 45px;
        width: 90%;
        padding: 10px;
        margin: 2px 20px 0px;
        border: 1px solid black;
        border-width: thin;
        border-radius: 5px;
    }
    .forn-field button {
        background-color: #260758;
        color: white;
        padding: 12px 20px;
        margin: 20px 200px;
        border-radius: 6px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
    }

    .forn-field button:hover {
        background-color: #210352;
        color: white;
        border: #260758 2px solid;
        transition: all 0.7s;
    }
    .haveaccount {
        margin: -25px 20px;
    }
}